.gift-outer-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card-edit-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.form-edit-container {
  height: 400px;
  width: 250px;
  background: linear-gradient(
    135deg,
    rgba(8, 6, 4, 0.555),
    rgba(196, 161, 162, 0.5)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gift-label {
  font-size: 1.4em;
}

label {
  color: white;
}
.gift-edit-input {
  position: relative;
  width: 94%;
}
.gift-form-edit-description {
  width: 94%;
}
.edit-gift-form-button {
  position: absolute;
  height: 30px;
  bottom: 0%;
  width: 94%;
  font-size: 1em;
}

.form-edit-close {
  position: absolute;
  top: 1%;
  right: 1%;
  width: 30%;
  height: 10%;
  cursor: pointer;
}

.form-open-button {
  position: relative;
  margin-bottom: 2%;
  cursor: pointer;
  height: 10%;
  width: 15%;
  font-size: 2em;
}
@media (max-width: 768px) {
  .form-edit-container {
    height: 400px;
    width: 180px;
  }

  .edit-gift-form-button {
    position: absolute;
    height: 30px;
    bottom: 0%;
    width: 94%;
    font-size: 1em;
  }

  .form-edit-close {
    position: absolute;
    top: 1%;
    right: 2%;
    width: 35%;
    height: 10%;
    cursor: pointer;
  }

  .form-open-button {
    height: 10%;
    width: 50%;
    font-size: 1.5em;
  }
}

@media (min-width: 769px) {
  .form-edit-container {
    height: 400px;
    width: 200px;
  }

  .edit-gift-form-button {
    position: absolute;
    height: 30px;
    bottom: 0%;
    width: 94%;
    font-size: 1em;
  }

  .form-edit-close {
    position: absolute;
    top: 1%;
    right: 2%;
    width: 35%;
    height: 10%;
    cursor: pointer;
  }

  .form-open-button {
    height: 10%;
    width: 50%;
    font-size: 1.5em;
  }
}
